<!--<br><br>-->
<div class="right ui button" style="background-color: lightgreen;"{{action 'openEditModal' post}}>
    <span class="glyphicon glyphicon-pencil"></span>
</div>
{{#ui-modal name=modalName class=modalName }}
  <div class="header">
    Edit Post "Convention-over-configuration is a powerful feature in Ember"
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>Post Title</label>
        {{input type="text" cols="50" rows="1" value = post.title placeholder="add title"}}
      </div>
      <div class="field">
        <label>Post Body</label>
        {{textarea value=post.body cols="50" rows="3" placeholder="add body"}}
      </div>
    </div>
  </div>
  <br>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button">
      Update
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}
